@charset "UTF-8";

$sp: 610px;
$md: 768px;
$lg: 1024px;

@mixin lg {
  @media screen and (max-width: ($lg)) {
    @content;
  }
}
@mixin md {
  @media screen and (max-width: ($md)) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.l-wrapper{
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #FFFFFF;
  color: #333333;
  font-family: "Noto Sans JP", "Noto Sans", sans-serif;
  letter-spacing: 0.1em;
  line-height: 2.0em;
  box-sizing: border-box;

  a{
    color: #333333;
    text-decoration: none;
  }

  li{
    list-style: none;
  }

.l-header {
  width: 100%;
  height: 90px;
  padding-top: 4%;
  // @include sp {
  //   height: 90px;
  // }

  &__inner{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
    .c-header__title{
      // position: absolute;
      // top: 120px;
      // left: 10%;
      width: 15vw;
      height: 150px;
      // @include sp {
      //   top: 35px;
      //   left: 8%;
      //   width: 79px;
      //   height: 55px;
      // }
      h1{
        font-size: 2.4em;
        letter-spacing: 0.05em;
        line-height: 1.3em;
        // @include sp {
        //   font-size: 1.4em;
        // }
      }
    }
    nav{
      position: relative;
      .p-nav__menu--pc{
        display: flex;
        justify-content: space-between;
        width: 50vw;
          @include sp {
              display: none;
            }
        li{
          font-family: "Open Sans", sans-serif;
        }
        li:hover{
          border-bottom: 1px solid;
        }
      }
      .p-subNav__menu--sp{
        display: none;
        // @include sp {
        //   display: flex;
        //   justify-content: space-between;
        //   width: 30%;
        //   margin: 0 auto;
        //   margin-top: 10%;
        // }
        // li{
        //   @include sp {
        //     width: 100%;
        //   }
        //   .fa-brands fa-facebook-f ,.fa-brands fa-instagram{
        //     font-size: 150%;
        //   }
        // }
      }
    }
    nav::before{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 7%;
      margin-top: -3%;
      content: '';
      background-image: repeating-linear-gradient(135deg, transparent, transparent 7px, #333333 7px, #333333 8px );
      background-size: 10px 10px; /* ストライプの間隔を均一にする */
    }
  }

  // ×ハンバーガーメニュー
  //   #p-drawer__toggle--sp{
  //     @include sp {
  //       position: absolute;
  //       right: 35px;
  //       top: 48px;
  //       width: 25px;
  //       height: 17px;
  //       cursor: pointer;
  //       z-index: 500;

  //     .hamburger_border {
  //       position: absolute;
  //       left: 8px;
  //       width: 20px;
  //       height: 1px;
  //       background-color: #333333;
  //       transition: all .6s;
  //     }
  //       .c-hamburger_borderTop {
  //         top: 5px;
  //       }
  //       .c-hamburger_borderBottom {
  //         top: 11px;
  //       }
  //     }
  //   }
  //   ×ボタン
  //     #p-drawer__toggle--sp.open .hamburger_border {
  //       top: 8px;
  //       width: 25px;
  //     }
  //     #p-drawer__toggle--sp.open .c-hamburger_borderTop {
  //       transform: rotate(45deg);
  //     }
  //     #p-drawer__toggle--sp.open .c-hamburger_borderBottom {
  //       transform: rotate(-45deg);
  //     }
  }
// header閉じる

.l-main {
  width: 100%;
  height: 80%;

  &__inner{
    width: 70vw;
    margin: 0 auto;
  }

  .p-title__container{
    width: auto;
    h2{
      position: relative;
      font-weight: 600;
    }
  }
  .p-title__container h2 span::before{
    content: "";
    position: absolute;
    top: 0;
    width: auto;
    height: auto;
    // background-size: contain;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-image: url(/assets/img/common/sessor.svg);
  }
  .p-title__container h2 span:after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 30px;
    border-bottom: 1px solid #333333;
  }

  #l-main__home{
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 9%;
    background-color: #DEE4E5;

    .p-home__container{
      position: relative;
      width: 100%;
      height: 415px;
        // @include sp {
        //   height: 345px;
        // }
      .p-top__keyvisual{
        width: 100%;
        height: 606px;
        .c-slideImage {
          display: none;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: opacity 0.5s ease;
        }
        .c-slideImage:not(:first-child) {
          opacity: 0; /* 最初の画像以外は透明 */
        }
      }
      .p-home__edge{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden; /* 擬似要素がはみ出さないようにする */
        .c-triming__top{
          position: absolute;
          top: 0;
          width: 26%;
          margin-top: -13%;
          left: -13%;
        }
        .c-triming__bottom{
          position: absolute;
          bottom: 0;
          right: 0;
          width: 26%;
          margin-bottom: -13%;
          right: -13%;
        }
        .c-triming__top::before,
        .c-triming__bottom::before {
          content: '';
          display: block;
          background-color: #FFFFFF;
          padding-top: 100%;
          transform: rotate(45deg);
          z-index: 3;
        }
      }
      .p-home__tag{
        position: absolute;
        bottom: 0;
        right: 0;
      }
      .p-scroll-content{
        position: absolute;
        bottom: -17%;
        left: 50%;
        width: 5vw;
        margin: 0 auto;
        text-align: center;
        @include sp {
          display: none;
        }
        .c-scroll-line{
          font-family: "Open Sans", sans-serif;
          font-size: 0.8em;
          letter-spacing: 0.2em;
        }
      }
      .p-scroll-content::before{
        content: "";
        display: block;
        width: 1px;
        height: 3rem;
        background-color:  #333333;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
      }
    }
  }

  #l-main__concept{
    width: 100%;
    background-color: peachpuff;
    // margin-bottom: 9%;
  }

  #l-main__line{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin: 9% 0;
    .c-stripe{
      position: relative;
      height: 14px;
    }
    .c-stripe::before{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background-image: repeating-linear-gradient(135deg, transparent, transparent 7px, #333333 7px, #333333 8px );
      background-size: 10px 10px; /* ストライプの間隔を均一にする */
    }
  }

  #l-main__menu{
    width: 100%;
    height: 15%;
    margin-bottom: 9%;
  }

    .p-menu__container{
      .p-title__container{
        width: 20%;
      }
      .p-menu__content{
        width: 100%;
        margin-top: -2%;
        .p-menu__row2{
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          li {
            position: relative;
            width: 40%;
            margin: 0 0 5% 10%;
            padding: 5%;
            box-sizing: border-box;
            background-color: #dbe9f2;
          }
          .p-menu__box{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden; /* 擬似要素がはみ出さないようにする */
            .c-triming__top{
              position: absolute;
              top: 0;
              width: 26%;
              margin-top: -13%;
              left: -13%;
            }
            .c-triming__bottom{
              position: absolute;
              bottom: 0;
              right: 0;
              width: 26%;
              margin-bottom: -13%;
              right: -13%;
            }
            .c-triming__top::before,
            .c-triming__bottom::before {
              content: '';
              display: block;
              background-color: #FFFFFF;
              padding-top: 100%;
              transform: rotate(45deg);
              z-index: 3;
            }
          }
          li:nth-child(3) {
            margin-left: 0;
          }
        }
        .c-btn__content{
          text-align: right;
        }
      }
    }

  #l-main__img{
    width: 100%;
    margin: 9% 0;
    background-color: #DEE4E5;
  }

  #l-main__salonInfo{
    width: 100%;
    margin-bottom: 9%;
    background-color: peachpuff;
  }

  #l-main__style{
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 9%;
    background-color: peachpuff;
  }

  #l-main__blogNews{
    width: 85vw;
    margin: 0 auto;
    margin-bottom: 9%;
    background-color: #DEE4E5;
  }
}

.l-footer{
  width: 100%;
  height: 15%;
  padding: 10% 0 5% 0;
  background-color: #DEE4E5;

  &__container{
    width: 80vw;
    margin: 0 auto;
  }

//   height: 5%;
//   @include sp {
//     position: relative;
//     width: 85%;
//     margin: 0 auto;
//   }

//   &__top{
//     height: 10%;
//     margin-left: 90%;
//     @include lg {
//       margin-left: 86%;
//     }
//     @include sp {
//       margin-left: 83%;
//     }

//     .c-footer__button{
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       width: 64px;
//       height: 64px;
//       border: 1px solid #333333;
//       font-size: 1.5em;
//       text-align: center;
//       @include sp {
//         width: 50px;
//         height: 50px;
//       }
//     }
//     .c-footer__button:hover{
//       background-color: #EEEEEE;
//       border: 1px solid #EEEEEE;
//       @include sp {
//         background-color: #FFFFFF;
//         border: 1px solid #333333;
//       }
//     }
//   }

//   &__bottom{
//     display: flex;
//     flex-direction: row-reverse;
//     width: 90%;
//     margin: 0 auto;
//     padding: 4% 0;
//     @include sp {
//       position: absolute;
//       top: 0;
//       left: 0;
//       display: block;
//       padding: 0 0 4% 0;
//     }
//   }

//     &__right{
//       width: 70%;
//       padding: 6% 0 4% 0;
//       @include sp {
//         padding: 0;
//       }


//       .p-footer__nav{
//         .p-nav__menu{
//           display: flex;
//           justify-content: flex-end;
//           @include sp {
//             display: block;
//           }
//           .c-nav__menu{
//             margin-left: 6%;
//             font-family: "Lato", sans-serif;
//             font-size: 0.75em;
//             letter-spacing: 0.25em;
//             font-weight: 600;
//             @include lg {
//               margin-left: 5%;
//               font-size: 0.65em;
//               letter-spacing: 0.25em;
//             }
//             @include md {
//               margin-left: 3%;
//               font-size: 0.5em;
//             }
//             @include sp {
//               margin: 0 0 7% 0;
//               font-size: 0.7em;
//               letter-spacing: 0.22em;
//             }
//           }
//           .c-nav__menu:hover {
//             opacity: 0.6;
//           }
//         }

//       .p-subNav__menu{
//         display: flex;
//         justify-content: flex-end;
//         margin-top: 8%;
//         gap: 4%;
//         @include lg {
//           gap: 8%;
//         }
//         @include sp {
//           justify-content: flex-start;
//           margin-top: 21%;
//           gap: 12%;
//         }
//         .fa-solid.fa-location-dot ,.fa-solid.fa-envelope{
//           font-size: 150%;
//         }
//         .fa-solid.fa-location-dot:hover ,
//         .fa-solid.fa-envelope:hover {
//           opacity: 0.6;
//         }

//         .c-nav__menu{
//           font-size: 0.75em;
//           letter-spacing: 0.05em;
//           @include sp {
//             font-size: 6px;
//             line-height: 2.0em;
//             letter-spacing: 0.01em;
//             text-align: center;
//           }
//         }
//       }
//     }
//   }

//     &__left{
//       position: relative;
//       width: 30%;
//       @include lg {
//         padding: 10% 0;
//       }
//       @include sp {
//         position: static;
//         width: 100%;
//       }
//     }

//       .c-footer__title{
//         font-family: "Lato", sans-serif;
//         font-size: 2.4em;
//         font-weight: 600;
//         letter-spacing: 0.05em;
//         line-height: 1.3em;
//         @include lg {
//           margin-top: -47%;
//         }
//         @include sp {
//           margin-top: 0;
//           font-size: 1.5em;
//         }
//         span{
//           font-size: 1.4em;
//           letter-spacing: 0.2em;
//         }
//       }


//       .c-footer__address{
//         margin-top: 3%;
//         font-size: 0.8em;
//         @include lg {
//           margin-top: 5%;
//           line-height: 1.8em;
//         }
//         @include md {
//           font-size: 0.7em;
//         }
//         @include sp {
//           margin-top: 6%;
//           font-size: 0.65em;
//           line-height: 2.0em;
//           letter-spacing: 0.15em;
//         }
//       }

//       .c-footer__copyright{
//         position: absolute;
//         bottom: 0;
//         @include sp {
//           position: static;
//           margin-top: 7%;
//         }
//         p{
//           font-size: 0.5em;
//           letter-spacing: 0.09em;
//           @include sp {
//             font-size: 10px;
//           }
//         }
//       }
    }
// footer閉じる
}
// wrapper閉じる