@charset "UTF-8";

$sp: 610px;
$md: 768px;
$lg: 1024px;

@mixin lg {
  @media screen and (max-width: ($lg)) {
    @content;
  }
}
@mixin md {
  @media screen and (max-width: ($md)) {
    @content;
  }
}
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.l-wrapper{
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #FFFFFF;
  color: #333333;
  font-family: "Noto Sans JP", "Noto Sans", sans-serif;
  letter-spacing: 0.1em;
  line-height: 2.0em;
  box-sizing: border-box;

  a{
    color: #333333;
    text-decoration: none;
  }

  li{
    list-style: none;
  }

.l-header {
  width: 100%;
  height: 90px;
  padding-top: 4%;
  // @include sp {
  //   height: 90px;
  // }

  &__inner{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
    .c-header__title{
      // position: absolute;
      // top: 120px;
      // left: 10%;
      width: 15vw;
      height: 150px;
      // @include sp {
      //   top: 35px;
      //   left: 8%;
      //   width: 79px;
      //   height: 55px;
      // }
      h1{
        font-size: 2.4em;
        letter-spacing: 0.05em;
        line-height: 1.3em;
        // @include sp {
        //   font-size: 1.4em;
        // }
      }
    }
    nav{
      position: relative;
      .p-nav__menu--pc{
        display: flex;
        justify-content: space-between;
        width: 50vw;
          @include sp {
              display: none;
            }
        li{
          font-family: "Open Sans", sans-serif;
        }
        li:hover{
          border-bottom: 1px solid;
        }
      }
      .p-subNav__menu--sp{
        display: none;
        // @include sp {
        //   display: flex;
        //   justify-content: space-between;
        //   width: 30%;
        //   margin: 0 auto;
        //   margin-top: 10%;
        // }
        // li{
        //   @include sp {
        //     width: 100%;
        //   }
        //   .fa-brands fa-facebook-f ,.fa-brands fa-instagram{
        //     font-size: 150%;
        //   }
        // }
      }
    }
    nav::before{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 7%;
      margin-top: -3%;
      content: '';
      background-image: repeating-linear-gradient(135deg, transparent, transparent 7px, #333333 7px, #333333 8px );
      background-size: 10px 10px; /* ストライプの間隔を均一にする */
    }
  }

  // ×ハンバーガーメニュー
  //   #p-drawer__toggle--sp{
  //     @include sp {
  //       position: absolute;
  //       right: 35px;
  //       top: 48px;
  //       width: 25px;
  //       height: 17px;
  //       cursor: pointer;
  //       z-index: 500;

  //     .hamburger_border {
  //       position: absolute;
  //       left: 8px;
  //       width: 20px;
  //       height: 1px;
  //       background-color: #333333;
  //       transition: all .6s;
  //     }
  //       .c-hamburger_borderTop {
  //         top: 5px;
  //       }
  //       .c-hamburger_borderBottom {
  //         top: 11px;
  //       }
  //     }
  //   }
  //   ×ボタン
  //     #p-drawer__toggle--sp.open .hamburger_border {
  //       top: 8px;
  //       width: 25px;
  //     }
  //     #p-drawer__toggle--sp.open .c-hamburger_borderTop {
  //       transform: rotate(45deg);
  //     }
  //     #p-drawer__toggle--sp.open .c-hamburger_borderBottom {
  //       transform: rotate(-45deg);
  //     }
  }
// header閉じる

.l-main {
  width: 100%;
  height: 80%;

  &__inner{
    width: 70vw;
    margin: 0 auto;
  }

  .c-btn__content{
    position: absolute;
    bottom: 0;
    right: 0;
    .c-btn {
      position: relative;
      width: 9rem;
      height: 9rem;
      aspect-ratio: 1;
      clip-path: polygon(0 100%,100% 0,100% 100%);
      border: 1px solid #cbccce;
      background: linear-gradient(45deg,#FFFFFF, #FFFFFF);
      p {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
      }
    }
    .c-btn::before {
      content: '';
      position: absolute;
      bottom: -1%;
      left: 0;
      width: 142%;
      height: 1px;
      background-color: #cbccce;
      transform-origin: bottom left;
      transform: translateY(-50%) rotate(-45deg);
    }
    .c-btn:hover {
      background: linear-gradient(45deg,#656733, #656733);
    }
    p:hover {
      color: #FFFFFF;
    }
  }

  .p-title__container{
    width: auto;
    h2 {
      position: relative;
      font-weight: 600;
    }
  }
  .p-title__container h2 span::before {
    content: "";
    position: absolute;
    top: 0;
    width: auto;
    height: auto;
    // display: block;
    // margin-bottom: 3rem;
    // width: 2.2rem;
    // height: 1.74rem;
    // background-size: contain;
    // background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../assets/img/scissors2.png);
  }
  .p-title__container h2 span:after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 30px;
    border-bottom: 1px solid #333333;
  }

  #l-main__home{
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 9%;
    background-color: #DEE4E5;

    .p-home__container{
      position: relative;
      width: 100%;
      height: 415px;
        // @include sp {
        //   height: 345px;
        // }
      .p-top__keyvisual{
        width: 100%;
        height: 606px;
        .c-slideImage {
          display: none;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: opacity 0.5s ease;
        }
        .c-slideImage:not(:first-child) {
          opacity: 0; /* 最初の画像以外は透明 */
        }
      }
      .p-home__edge{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden; /* 擬似要素がはみ出さないようにする */
        .c-triming__top{
          position: absolute;
          top: 0;
          width: 26%;
          margin-top: -13%;
          left: -13%;
        }
        .c-triming__bottom{
          position: absolute;
          bottom: 0;
          right: 0;
          width: 26%;
          margin-bottom: -13%;
          right: -13%;
        }
        .c-triming__top::before,
        .c-triming__bottom::before {
          content: '';
          display: block;
          background-color: #FFFFFF;
          padding-top: 100%;
          transform: rotate(45deg);
          z-index: 3;
        }
      }
      .p-home__tag{
        position: absolute;
        bottom: 0;
        right: 0;
      }
      .p-scroll-content{
        position: absolute;
        bottom: -17%;
        left: 50%;
        width: 5vw;
        margin: 0 auto;
        text-align: center;
        @include sp {
          display: none;
        }
        .c-scroll-line{
          font-family: "Open Sans", sans-serif;
          font-size: 0.8em;
          letter-spacing: 0.2em;
        }
      }
      .p-scroll-content::before{
        content: "";
        display: block;
        width: 1px;
        height: 3rem;
        background-color:  #333333;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
      }
    }
  }

  #l-main__concept{
    width: 100%;
    background-color: peachpuff;
    // margin-bottom: 9%;
  }

  #l-main__line{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin: 9% 0;
    .c-stripe{
      position: relative;
      height: 14px;
    }
    .c-stripe::before{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background-image: repeating-linear-gradient(135deg, transparent, transparent 7px, #333333 7px, #333333 8px );
      background-size: 10px 10px; /* ストライプの間隔を均一にする */
    }
  }

  #l-main__menu{
    width: 100%;
    height: 15%;
    margin-bottom: 9%;
  }

    .p-menu__container{
      .p-title__container{
        width: 20%;
      }
      .p-menu__content{
        position: relative;
        width: 100%;
        margin-top: -2%;
        .p-menu__row2{
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          li {
            position: relative;
            width: 12%;
            height: 10%;
            margin: 0 0 6% 6%;
            padding: 11%;
            .p-menu__boxShadow{
              position: absolute;
              top: 5%;
              left: 5%;
              width: 100%;
              height: 100%;
              border: 2px solid #cbccce;
              box-sizing: border-box;
            }
            .p-menu__box{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #DBE9F2;
              box-sizing: border-box;
              .p-menu__detail{
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
                text-align: center;
                h3{
                  margin-bottom: 6%;
                }
              }
            }
            .p-menu__box:hover {
              transform: translate(5%, 5%);
              transition: transform 0.3s ease;
            }
          }
          li::after {
            content: "";
            position: absolute;
            bottom: 10%;
            left: 20%;
            width: 16%;
            height: 1px;
            background-color: #B0B1B4;
          }
          li:first-child {
            margin-left: 20%;
          }
          li:nth-child(3) {
            margin: 0;
          }
          li:last-child {
            margin: 0 0 0 6%;
          }
          .p-menu__pseudo::after {
            content: "";
            position: absolute;
            top: 10%;
            right: 5%;
            width: 1px;
            height: 25%;
            background-color: #B0B1B4;
          }
        }
        .p-menu__row2 .p-menu__special .p-menu__box {
          border: 2px solid #cbccce;
          background-color: #FFFFFF;
        }
        .p-menu__row2 .p-menu__special .p-menu__boxShadow {
          border:none;
          background-size: auto auto;
          background-color: rgba(255, 255, 255, 1);
          background-image: repeating-linear-gradient(135deg, transparent, transparent 6px, rgba(219, 233, 242, 1) 6px, rgba(219, 233, 242, 1) 10px );
        }
      }
    }

  #l-main__img{
    width: 100%;
    margin: 9% 0;
    background-color: #DEE4E5;
  }

  #l-main__salonInfo{
    width: 100%;
    margin-bottom: 9%;
    background-color: peachpuff;
  }

  #l-main__style{
    width: 90vw;
    height: 245.6px;
    margin: 0 auto;
    margin-bottom: 9%;
  }

    .p-style__container{
      position: relative;
      height: 100%;
      ul{
        display: flex;
        height: 100%;
        li{
          width: 20%;
        }
        .c-style__triangle:first-child{
          position: absolute;
          top: 0;
          left: 0;
          width: 7.65rem;
          z-index: 2;
          .c-triangle__blue{
            position: relative;
            width: 7.65rem;
            height: 7.65rem;
            aspect-ratio: 1;
            clip-path: polygon(0 0, 100% 0, 0 100%);
            border: 1px solid #DBE9F2;
            background: linear-gradient(45deg,#DBE9F2, #DBE9F2);
          }
        }
        .c-style__title{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          .c-title__container{
            position: relative;
            width: 15.3rem;
            height: 15.3rem;
            aspect-ratio: 1;
            clip-path: polygon(0 0, 100% 0, 0 100%);
            border: 1px solid #FFFFFF;
            background: linear-gradient(45deg,#FFFFFF, #FFFFFF);
            p {
              display: inline-block; /* 傾けたテキストが改行されないようにするため */
              transform: rotate(-45deg);
              margin: 25% 0 0 32%;
            }
          }
        }
        .c-style__skew{
          // position: relative;
          transform: skewX(-45deg);
          transform-origin: bottom left;
          .c-skew__mask {
            overflow: hidden;
            img {
              // position: absolute;
              // top: 0;
              // right: -50%;
              min-width: 117.6%;
              height: 244.8px;
              transform: skewX(45deg);
              transform-origin: bottom left;
              // object-fit: cover;
            }
          }
        }
        .c-style__skew:nth-of-type(5){
          background-color: #DBE9F2;
        }
        .c-style__stripe {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 15.3rem;
          height: 15.3rem;
          aspect-ratio: 1;
          clip-path: polygon(0 100%,100% 0,100% 100%);
          background: repeating-linear-gradient(90deg, transparent, transparent 12px, rgba(51, 51, 51, 1) 12px, rgba(51, 51, 51, 1) 15px);
          .c-style__skew--thin {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            width: 14.3rem;
            height: 14.3rem;
            aspect-ratio: 1;
            clip-path: polygon(0 100%,100% 0,100% 100%);
            border: 1px solid #FFFFFF;
            background: linear-gradient(45deg,#FFFFFF, #FFFFFF);
          }
        }
        .c-style__triangle:last-child{
          position: absolute;
          bottom: 0;
          right: 0;
          width: 7.65rem;
          // .c-triangle__blue{
          //   position: relative;
          //   width: 7.65rem;
          //   height: 7.65rem;
          //   aspect-ratio: 1;
          //   clip-path: polygon(0 0, 100% 0, 0 100%);
          //   border: 1px solid #DBE9F2;
          //   background: linear-gradient(45deg,#DBE9F2, #DBE9F2);
          // }
        }
      }
    }

    .c-btn__content{
      position: absolute;
      bottom: 0;
      right: 0;
      .c-btn {
        position: relative;
        width: 7.65rem;
        height: 7.65rem;
        aspect-ratio: 1;
        clip-path: polygon(0 100%,100% 0,100% 100%);
        border: 1px solid #cbccce;
        background: linear-gradient(45deg,#FFFFFF, #FFFFFF);
        p {
          position: absolute;
          right: 1rem;
          bottom: 1rem;
        }
      }
      .c-btn::before {
        content: '';
        position: absolute;
        bottom: -2%;
        left: 0;
        width: 142%;
        height: 2px;
        background-color: #cbccce;
        transform-origin: bottom left;
        transform: translateY(-50%) rotate(-45deg);
      }
      .c-btn:hover {
        background: linear-gradient(45deg,#656733, #656733);
      }
      p:hover {
        color: #FFFFFF;
      }
    }

  #l-main__blogNews{
    width: 85vw;
    margin: 0 auto;
    margin-bottom: 9%;
    background-color: #DEE4E5;
  }
}

.l-footer{
  width: 100%;
  height: 15%;
  padding: 10% 0 5% 0;
  background-color: #DEE4E5;

  &__container{
    width: 80vw;
    margin: 0 auto;
  }
    .c-footer__title{
      margin-bottom: 5%;
    }

    &__nav{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

      .p-footer__box {
        width: 33.333%;
      }

      h4{
        margin-bottom: 8%;
        font-size: 0.9em;
        font-weight: 600;
        letter-spacing: 0.12em;
        line-height: 1;
      }

    .p-info__address{
      font-size: 14px;
      line-height: 2.0em;
      p {
        margin-bottom: 1%;
      }
    }

    .p-info__sns{
      display: flex;
      gap: 10%;
      margin-top: 3%;
    }

    .p-times__contents{
      margin-bottom: 5%;
      .p-times__usually{
        margin-bottom: 5%;
        font-size: 1.3em;
        font-weight: 600;
      }
      .p-times__day{
        margin-bottom: 3%;
        font-size: 0.88em;
      }
    }

      .p-reserve__contents{
        width: 100%;
        .p-reserve__contents p{
          margin-bottom: 5%;
          font-size: 0.9em;
        }
        .p-reserve__button{
          display: inline-block;
          width: 100%;
          margin-bottom: 3%;
          padding: 4% 0;
          border: 1px solid #333333;
          background-color: #DEE4E5;
          font-size: 0.9em;
          .c-reserve__inner{
            display: flex;
            justify-content: center;
            gap: 5%;
            width: 60%;
            margin: 0 auto;
            .c-reserve__icon{
              .fa-solid.fa-envelope{
                font-size: 150%;
              }
            }
            .c-reserve__inner a p{
              font-size: 1.2em;
              font-weight: 600;
            }
          }
        }
        .p-reserve__button:hover{
          background-color: #666666;
          border: 1px solid #666666;
        }
          p:hover {
            color: #FFFFFF;
          }
      }

    // &__bottom {
    //   margin-top: 8%;
    //   text-align: center;
    //   font-size: 0.7em;
    // }
  //       .c-footer__copyright{
//         position: absolute;
//         bottom: 0;
//         @include sp {
//           position: static;
//           margin-top: 7%;
//         }
//         p{
//           font-size: 0.5em;
//           letter-spacing: 0.09em;
//           @include sp {
//             font-size: 10px;
//           }
//         }
//       }
    }
// footer閉じる
}
// wrapper閉じる