@charset "UTF-8";
body.loading {
  overflow: hidden;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  z-index: 9999;
}

#loading-box {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
  overflow: hidden; /* 内部の要素を制限してはみ出しを隠す */
}

.loading-rectangle {
  width: 200vw; /* 画面の横幅を超えるように設定 */
  height: 415px; /* 画面の高さいっぱいに設定 */
  background-color: #656733; /* 黄緑の背景色 */
  position: relative; /* 相対位置に配置 */
  top: 145px;
  left: -50vw;
  transition: left 2s ease;
  transition: right 2s ease;
}
@media screen and (max-width: 1200px) {
  .loading-rectangle {
    height: 390px;
  }
}
@media screen and (max-width: 978px) {
  .loading-rectangle {
    top: 85px;
    height: 355px;
  }
}
@media screen and (max-width: 760px) {
  .loading-rectangle {
    height: 285px;
  }
}

.loading-rectangle.shrink {
  width: 100%;
  left: 0;
  transition: 1.5s ease;
}

.loading-rectangle::before,
.loading-rectangle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 86px solid #FFFFFF;
}
@media screen and (max-width: 1200px) {
  .loading-rectangle::before,
.loading-rectangle::after {
    border: 80px solid #FFFFFF;
  }
}
@media screen and (max-width: 978px) {
  .loading-rectangle::before,
.loading-rectangle::after {
    border: 70px solid #FFFFFF;
  }
}
@media screen and (max-width: 760px) {
  .loading-rectangle::before,
.loading-rectangle::after {
    border: 54px solid #FFFFFF;
  }
}
@media screen and (max-width: 478px) {
  .loading-rectangle::before,
.loading-rectangle::after {
    border: 35px solid #FFFFFF;
  }
}

.loading-rectangle::before {
  top: 0;
  left: 0;
  border-right-color: transparent;
  border-bottom-color: transparent;
  height: 0;
  width: 0;
}

.loading-rectangle::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  height: 0;
  width: 0;
}

.l-wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #FFFFFF;
  color: #333333;
  font-family: "Noto Sans JP", "Noto Sans", sans-serif;
  letter-spacing: 0.1em;
  line-height: 2em;
  box-sizing: border-box;
  /*main閉じる*/
  /*footer閉じる*/
}
.l-wrapper a {
  color: #333333;
  text-decoration: none;
}
.l-wrapper li {
  list-style: none;
}
.l-wrapper .l-header {
  width: 100%;
  height: 85px;
  padding-top: 60px;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header {
    padding-top: 0;
  }
}
.l-wrapper .l-header__inner {
  display: flex;
  justify-content: space-between;
  width: 88vw;
  margin: 0 auto;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner {
    position: relative;
    width: 100vw;
  }
}
.l-wrapper .l-header__inner .c-header__title--pc {
  width: 15vw;
  height: auto;
  margin-right: auto;
  z-index: 1;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner .c-header__title--pc {
    height: auto;
    margin-top: 2%;
    margin-left: 5%;
  }
}
.l-wrapper .l-header__inner .c-header__title--pc h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 4em;
  font-weight: 100;
  letter-spacing: 0.05em;
  line-height: 1.3em;
  color: #333333;
}
@media screen and (max-width: 1200px) {
  .l-wrapper .l-header__inner .c-header__title--pc h1 {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner .c-header__title--pc h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-header__inner .c-header__title--pc h1 {
    font-size: 2.5em;
  }
}
.l-wrapper .l-header__inner .p-nav__container--pc {
  position: relative;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner .p-nav__container--pc {
    display: none;
  }
}
.l-wrapper .l-header__inner .p-nav__container--pc .p-nav__menu--pc {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner .p-nav__container--pc .p-nav__menu--pc {
    display: none;
  }
}
.l-wrapper .l-header__inner .p-nav__container--pc .p-nav__menu--pc li {
  font-family: "Open Sans", sans-serif;
  font-size: 0.75em;
  font-weight: 600;
  border-bottom: 1px solid transparent; /* 初期状態を透明に */
  transition: border-bottom 0.4s ease; /* border-bottom に対するトランジションを設定 */
  cursor: pointer; /* 常にポインタにする */
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner .p-nav__container--pc .p-nav__menu--pc li {
    display: none;
  }
}
.l-wrapper .l-header__inner .p-nav__container--pc .p-nav__menu--pc li:hover {
  border-bottom: 1px solid;
}
.l-wrapper .l-header__inner nav::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
  margin-top: -3%;
  content: "";
  background-image: repeating-linear-gradient(135deg, transparent, transparent 7px, #333333 7px, #333333 8px);
  background-size: 10px 10px; /* ストライプの間隔を均一にする */
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner nav::before {
    content: none;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner #p-drawer__toggle--sp {
    position: fixed;
    right: 50px;
    top: 40px;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 1000;
  }
}
@media screen and (max-width: 978px) and (max-width: 760px) {
  .l-wrapper .l-header__inner #p-drawer__toggle--sp {
    right: 40px;
    top: 30px;
  }
}
@media screen and (max-width: 978px) and (max-width: 478px) {
  .l-wrapper .l-header__inner #p-drawer__toggle--sp {
    right: 35px;
    top: 25px;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner #p-drawer__toggle--sp .hamburger_border {
    position: absolute;
    left: 8px;
    width: 25px;
    height: 1px;
    background-color: #333333;
    transition: all 0.6s;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner #p-drawer__toggle--sp .c-hamburger_borderTop {
    top: 2px;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner #p-drawer__toggle--sp .c-hamburger_borderMiddle {
    top: 8px;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner #p-drawer__toggle--sp .c-hamburger_borderBottom {
    top: 14px;
  }
}
.l-wrapper .l-header__inner ×ボタン #p-drawer__toggle--sp.open .hamburger_border {
  top: 8px;
  width: 25px;
}
.l-wrapper .l-header__inner #p-drawer__toggle--sp.open .c-hamburger_borderTop {
  top: 50%;
  transform: rotate(45deg);
}
.l-wrapper .l-header__inner #p-drawer__toggle--sp.open .c-hamburger_borderMiddle {
  display: none;
}
.l-wrapper .l-header__inner #p-drawer__toggle--sp.open .c-hamburger_borderBottom {
  top: 50%;
  transform: rotate(-45deg);
}
.l-wrapper .l-header__inner #p-drawer__toggle--sp.open::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  width: 10rem;
  height: auto;
  aspect-ratio: 1;
  background-color: #FFFFFF;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%);
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-header__inner #p-drawer__toggle--sp.open::before {
    width: 8rem;
  }
}
@media screen and (max-width: 478px) {
  .l-wrapper .l-header__inner #p-drawer__toggle--sp.open::before {
    width: 7rem;
  }
}
.l-wrapper .l-header__inner .p-nav__container--sp {
  display: none;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner .p-nav__container--sp {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10vh 0;
    height: 80vh;
    background-color: #DBE9F2;
    z-index: 100;
  }
}
.l-wrapper .l-header__inner .p-nav__container--sp .c-header__title--sp {
  display: none;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner .p-nav__container--sp .c-header__title--sp {
    position: relative;
    display: block;
    width: 30%;
    height: 15vh;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 478px) {
  .l-wrapper .l-header__inner .p-nav__container--sp .c-header__title--sp {
    height: 10vh;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner .p-nav__container--sp .c-header__title--sp h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 3em;
    font-weight: 100;
  }
}
.l-wrapper .l-header__inner .p-nav__container--sp .c-header__title--sp::after {
  display: none;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner .p-nav__container--sp .c-header__title--sp::after {
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 5%;
    content: "";
    background-image: repeating-linear-gradient(135deg, transparent, transparent 7px, #333333 7px, #333333 8px);
    background-size: 10px 10px; /* ストライプの間隔を均一にする */
  }
}
@media screen and (max-width: 478px) {
  .l-wrapper .l-header__inner .p-nav__container--sp .c-header__title--sp::after {
    top: 75%;
  }
}
.l-wrapper .l-header__inner .p-nav__container--sp .p-nav__menu--sp {
  display: none;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner .p-nav__container--sp .p-nav__menu--sp {
    display: grid;
    height: 50vh;
    text-align: center;
  }
}
.l-wrapper .l-header__inner .p-nav__container--sp .p-nav__menu--sp li {
  display: none;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner .p-nav__container--sp .p-nav__menu--sp li {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: 0.95em;
    font-weight: 600;
  }
}
.l-wrapper .l-header__inner .p-nav__container--sp .p-subNav__menu--sp {
  display: none;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner .p-nav__container--sp .p-subNav__menu--sp {
    display: flex;
    justify-content: space-between;
    width: 7%;
    height: 5vh;
    margin: 0 auto;
    margin-top: 2%;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-header__inner .p-nav__container--sp .p-subNav__menu--sp {
    width: 10%;
  }
}
@media screen and (max-width: 478px) {
  .l-wrapper .l-header__inner .p-nav__container--sp .p-subNav__menu--sp {
    height: 10vh;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner .p-nav__container--sp .p-subNav__menu--sp li {
    width: auto;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-header__inner .p-nav__container--sp .p-subNav__menu--sp li .fa-brands fa-facebook-f, .l-wrapper .l-header__inner .p-nav__container--sp .p-subNav__menu--sp li .fa-brands fa-instagram {
    font-size: 180%;
  }
}
.l-wrapper .l-header__inner .p-nav__container--sp .p-tel__container--sp {
  display: none;
}
@media screen and (max-width: 478px) {
  .l-wrapper .l-header__inner .p-nav__container--sp .p-tel__container--sp {
    display: block;
    width: 40%;
    height: auto;
    margin: 0 auto;
    padding: 1% 0;
    border: 1px solid #333333;
    font-size: 0.6em;
  }
  .l-wrapper .l-header__inner .p-nav__container--sp .p-tel__container--sp .c-reserve__inner {
    display: flex;
    justify-content: center;
    gap: 1%;
    margin: 0 auto;
  }
  .l-wrapper .l-header__inner .p-nav__container--sp .p-tel__container--sp .c-reserve__inner .c-tel__icon .fa-solid fa-phone {
    font-size: 180%;
  }
  .l-wrapper .l-header__inner .p-nav__container--sp .p-tel__container--sp .c-reserve__inner p {
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 600;
  }
}
.l-wrapper .l-main {
  width: 100%;
  height: 80%;
  /*h2タイトル*/
  /*MOREボタン*/
  /*MORE DETAILボタン*/
  /*#l-main__blogNews閉じる*/
  /*ボタン*/
  /*#l-main__retur閉じる*/
}
.l-wrapper .l-main__inner {
  width: 70vw;
  margin: 0 auto;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main__inner {
    width: 88vw;
  }
}
.l-wrapper .l-main .p-title__container {
  width: auto;
}
.l-wrapper .l-main .p-title__container h2 {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.12em;
  font-weight: 600;
}
@media screen and (max-width: 1200px) {
  .l-wrapper .l-main .p-title__container h2 {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main .p-title__container h2 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main .p-title__container h2 {
    font-size: 1em;
    text-align: center;
  }
}
.l-wrapper .l-main .p-title__container h2 span::before {
  content: "";
  position: absolute;
  top: -175%;
  width: 1.2em;
  height: 100%;
  background-repeat: no-repeat;
  background: url("../img/scissors2.png") no-repeat center center;
  background-size: contain;
  transform: rotate(-45deg);
}
@media screen and (max-width: 1200px) {
  .l-wrapper .l-main .p-title__container h2 span::before {
    top: -150%;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main .p-title__container h2 span::before {
    top: -100%;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
  }
}
.l-wrapper .l-main .p-title__container h2 span:after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 30px;
  border-bottom: 1px solid #333333;
}
@media screen and (max-width: 1200px) {
  .l-wrapper .l-main .p-title__container h2 span:after {
    bottom: -70%;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main .p-title__container h2 span:after {
    content: none;
  }
}
.l-wrapper .l-main .c-btn {
  position: relative;
  width: 7.65rem;
  height: 7.65rem;
  aspect-ratio: 1;
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%);
          clip-path: polygon(0 100%, 100% 0, 100% 100%);
  border: 1px solid #cbccce;
  background: linear-gradient(45deg, #FFFFFF, #FFFFFF);
}
@media screen and (max-width: 1200px) {
  .l-wrapper .l-main .c-btn {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main .c-btn {
    display: none;
  }
}
.l-wrapper .l-main .c-btn p {
  position: absolute;
  right: 0.7rem;
  bottom: 0.7rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.15em;
}
@media screen and (max-width: 1200px) {
  .l-wrapper .l-main .c-btn p {
    font-size: 0.8em;
    letter-spacing: 0.12em;
  }
}
.l-wrapper .l-main .c-btn::before {
  content: "";
  position: absolute;
  bottom: -2%;
  left: 0;
  width: 142%;
  height: 2px;
  background-color: #cbccce;
  transform-origin: bottom left;
  transform: translateY(-50%) rotate(-45deg);
}
.l-wrapper .l-main .c-btn:hover {
  background: linear-gradient(45deg, #656733, #656733);
}
.l-wrapper .l-main .c-btn p:hover {
  color: #FFFFFF;
}
.l-wrapper .l-main .c-btn__content--md {
  margin: 0 auto;
}
.l-wrapper .l-main .p-more__button {
  display: none;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main .p-more__button {
    display: inline-block;
    width: 37%;
    margin-top: 3%;
    padding: 2% 8%;
    border: 1px solid #333333;
    background-color: #FFFFFF;
    text-align: center;
  }
}
@media screen and (max-width: 478px) {
  .l-wrapper .l-main .p-more__button {
    width: 58%;
    margin-top: 8%;
    padding: 4% 10%;
  }
}
.l-wrapper .l-main .p-more__button .c-more__inner p {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 0.95em;
  letter-spacing: 0.15em;
  line-height: 1.6;
  text-align: left;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main .p-more__button .c-more__inner p {
    font-size: 0.85em;
  }
}
@media screen and (max-width: 478px) {
  .l-wrapper .l-main .p-more__button .c-more__inner p br {
    display: none;
  }
}
.l-wrapper .l-main .p-more__button .c-more__inner p::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translateY(-50%);
  display: block;
  width: 50%;
  height: 100%;
  background: url("../img/longArrow2.png") no-repeat center center;
  background-size: contain;
}
.l-wrapper .l-main #l-main__home {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 12%;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__home {
    margin-bottom: 15%;
  }
}
.l-wrapper .l-main #l-main__home .p-home__container {
  position: relative;
  width: 100%;
  height: 415px;
}
@media screen and (max-width: 1200px) {
  .l-wrapper .l-main #l-main__home .p-home__container {
    height: 390px;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__home .p-home__container {
    height: 355px;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__home .p-home__container {
    height: 285px;
  }
}
.l-wrapper .l-main #l-main__home .p-home__container .p-top__keyvisual {
  position: relative;
  width: 100%;
  height: 100%;
}
.l-wrapper .l-main #l-main__home .p-home__container .p-top__keyvisual .c-slideImage {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 1s ease;
}
.l-wrapper .l-main #l-main__home .p-home__container .p-top__keyvisual .c-slideImage:not(:first-child) {
  opacity: 0; /* 最初の画像以外は透明 */
}
.l-wrapper .l-main #l-main__home .p-home__container .p-home__edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 擬似要素がはみ出さないようにする */
}
.l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__top {
  position: absolute;
  top: 0;
  margin-top: -125px;
  left: -125px;
}
@media screen and (max-width: 1200px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__top {
    margin-top: -115px;
    left: -115px;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__top {
    margin-top: -100px;
    left: -100px;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__top {
    margin-top: -75px;
    left: -75px;
  }
}
@media screen and (max-width: 478px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__top {
    margin-top: -50px;
    left: -50px;
  }
}
.l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -125px;
  right: -125px;
}
@media screen and (max-width: 1200px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__bottom {
    margin-bottom: -115px;
    right: -115px;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__bottom {
    margin-bottom: -100px;
    right: -100px;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__bottom {
    margin-bottom: -75px;
    right: -75px;
  }
}
@media screen and (max-width: 478px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__bottom {
    margin-bottom: -50px;
    right: -50px;
  }
}
.l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__top,
.l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__bottom {
  width: 250px;
}
@media screen and (max-width: 1200px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__top,
.l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__bottom {
    width: 230px;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__top,
.l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__bottom {
    width: 200px;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__top,
.l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__bottom {
    width: 150px;
  }
}
@media screen and (max-width: 478px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__top,
.l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__bottom {
    width: 100px;
  }
}
.l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__top::before,
.l-wrapper .l-main #l-main__home .p-home__container .p-home__edge .c-triming__bottom::before {
  content: "";
  display: block;
  background-color: #FFFFFF;
  padding-top: 100%;
  transform: rotate(45deg);
  z-index: 3;
}
.l-wrapper .l-main #l-main__home .p-home__container .p-home__tag {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Ubuntu", sans-serif;
  text-align: right;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__tag {
    bottom: -16%;
  }
}
@media screen and (max-width: 478px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__tag {
    bottom: -18%;
  }
}
.l-wrapper .l-main #l-main__home .p-home__container .p-home__tag .c-home__tagTitle {
  margin-bottom: 5%;
  font-size: 1.1em;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__tag .c-home__tagTitle {
    font-size: 1em;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__tag .c-home__tagTitle {
    margin-bottom: 8%;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 478px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__tag .c-home__tagTitle {
    margin-bottom: 2%;
    font-size: 0.8em;
    letter-spacing: 0.15em;
  }
}
.l-wrapper .l-main #l-main__home .p-home__container .p-home__tag .c-home__tagText {
  margin-bottom: 5%;
  font-size: 0.7em;
  line-height: 1.8em;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__tag .c-home__tagText {
    font-size: 0.6em;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__tag .c-home__tagText {
    font-size: 0.4em;
  }
}
@media screen and (max-width: 478px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-home__tag .c-home__tagText {
    font-size: 9px;
  }
}
.l-wrapper .l-main #l-main__home .p-home__container .p-scroll__content {
  position: absolute;
  bottom: -25%;
  left: 50%;
  width: 5vw;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__home .p-home__container .p-scroll__content {
    display: none;
  }
}
.l-wrapper .l-main #l-main__home .p-home__container .p-scroll__content .c-scroll__img {
  width: 40%;
  margin: 0 auto;
}
.l-wrapper .l-main #l-main__home .p-home__container .p-scroll__content .c-scroll__img img {
  width: 100%;
  transform: rotate(45deg);
}
.l-wrapper .l-main #l-main__home .p-home__container .p-scroll__content .c-scroll__line {
  position: relative;
  top: -1em;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7em;
}
.l-wrapper .l-main #l-main__home .p-home__container .p-scroll__content::before {
  content: "";
  display: block;
  width: 1px;
  height: 2rem;
  background-color: #333333;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8rem;
}
.l-wrapper .l-main #l-main__home .p-home__container .p-scroll__content:hover {
  transform: translate(5%, 5%);
  transition: transform 0.3s ease;
}
.l-wrapper .l-main #l-main__concept {
  width: 100%;
}
.l-wrapper .l-main #l-main__concept .p-concept__container {
  display: flex;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__concept .p-concept__container {
    display: block;
  }
}
.l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__img {
  position: relative;
  width: 87%;
  height: auto;
  overflow: hidden;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__img {
    width: 100%;
    height: 180px;
  }
}
.l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__img .c-concept__img {
  width: 100%;
  height: 100%;
}
.l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__img .c-concept__img .c-slideImage {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 0.5s ease;
}
.l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__img .p-concept__edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 擬似要素がはみ出さないようにする */
}
.l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__img .p-concept__edge .c-triming__top {
  position: absolute;
  top: 0;
  width: 26%;
  margin-top: -13%;
  left: -13%;
}
.l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__img .p-concept__edge .c-triming__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 26%;
  margin-bottom: -13%;
  right: -13%;
}
.l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__img .p-concept__edge .c-triming__top::before,
.l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__img .p-concept__edge .c-triming__bottom::before {
  content: "";
  display: block;
  background-color: #FFFFFF;
  padding-top: 100%;
  transform: rotate(45deg);
  z-index: 3;
}
.l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__img .c-concept__stripe {
  position: absolute;
  top: 2%;
  width: 18rem;
  height: 18rem;
  aspect-ratio: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%);
  background: repeating-linear-gradient(90deg, transparent, transparent 13px, rgb(51, 51, 51) 13px, rgb(51, 51, 51) 15px);
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__img .c-concept__stripe {
    width: 14rem;
    height: 14rem;
    background: repeating-linear-gradient(90deg, transparent, transparent 6px, rgb(51, 51, 51) 6px, rgb(51, 51, 51) 7px);
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__img .c-concept__stripe {
    width: 5.5rem;
    height: 5.5rem;
    background: repeating-linear-gradient(90deg, transparent, transparent 5px, rgb(51, 51, 51) 5px, rgb(51, 51, 51) 6px);
  }
}
.l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__detail {
  width: 37.5%;
  margin-top: auto;
  margin-left: -5%;
  z-index: 1;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__detail {
    margin-left: -10%;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__detail {
    width: 100%;
    margin-top: 12%;
    margin-left: 0;
    text-align: center;
  }
}
.l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__detail .p-concept__text {
  margin: 20% 0 8% 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1.15em;
  line-height: 2.2em;
  white-space: nowrap;
}
@media screen and (max-width: 1200px) {
  .l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__detail .p-concept__text {
    font-size: 1em;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__detail .p-concept__text {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__detail .p-concept__text {
    margin: 3% 0;
    font-size: 0.8em;
  }
}
.l-wrapper .l-main #l-main__concept .p-concept__container .p-concept__detail .c-btn__content {
  text-align: right;
}
.l-wrapper .l-main #l-main__line {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin: 9% 0;
}
.l-wrapper .l-main #l-main__line .c-stripe {
  position: relative;
  height: 14px;
}
.l-wrapper .l-main #l-main__line .c-stripe::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: repeating-linear-gradient(135deg, transparent, transparent 7px, #333333 7px, #333333 8px);
  background-size: 10px 10px; /* ストライプの間隔を均一にする */
}
.l-wrapper .l-main #l-main__menu {
  width: 100%;
  height: 15%;
  margin-bottom: 9%;
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content {
  position: relative;
  width: 100%;
  margin-top: -2%;
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 {
    display: block;
    width: 60%;
    margin: 8% 0;
  }
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li {
  position: relative;
  width: 12%;
  height: 10%;
  margin: 0 0 6% 6%;
  padding: 11%;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li {
    margin: 0 0 15% 0;
    width: 100%;
    padding: 40% 30%;
  }
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li .p-menu__boxShadow {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 100%;
  height: 100%;
  border: 2px solid #cbccce;
  box-sizing: border-box;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li .p-menu__boxShadow {
    top: 8%;
    left: 3%;
  }
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li .p-menu__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #DBE9F2;
  box-sizing: border-box;
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li .p-menu__box .p-menu__detail {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li .p-menu__box .p-menu__detail h3 {
  margin-bottom: 6%;
  font-family: "Poppins", sans-serif;
  font-size: 1.15em;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li .p-menu__box .p-menu__detail h3 {
    font-size: 0.9em;
  }
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li .p-menu__box .p-menu__detail p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3em;
  font-weight: 600;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li .p-menu__box .p-menu__detail p {
    font-size: 0.85em;
  }
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li .p-menu__box:hover {
  transform: translate(5%, 5%);
  transition: transform 0.3s ease;
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li::before {
  content: "";
  position: absolute;
  bottom: 6%;
  left: 9%;
  width: 7%;
  height: 7%;
  background-repeat: no-repeat;
  background: url("../img/menu_left_scissors.PNG") no-repeat center center;
  background-size: contain;
  z-index: 2;
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 20%;
  width: 16%;
  height: 1px;
  background-color: #B0B1B4;
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li:first-child {
  margin-left: 20%;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li:first-child {
    margin-left: 0%;
  }
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li:nth-child(3) {
  margin: 0;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li:nth-child(3) {
    display: none;
  }
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li:last-child {
  margin: 0 0 0 6%;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li:last-child {
    margin: 0%;
  }
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 .p-menu__pseudo::before {
  content: "";
  position: absolute;
  top: 40%;
  right: 0.5%;
  width: 10%;
  height: 10%;
  background: url("../img/menu_right_scissors.PNG") no-repeat center center;
  background-size: contain;
  z-index: 2;
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 .p-menu__pseudo::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 5%;
  width: 1px;
  height: 25%;
  background-color: #B0B1B4;
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li:hover::before,
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 li:hover::after,
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 .p-menu__pseudo:hover::before,
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 .p-menu__pseudo:hover::after {
  transform: translate(5px, 5px);
  transition: transform 0.3s ease;
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 .p-menu__special .p-menu__box {
  border: 2px solid #cbccce;
  background-color: #FFFFFF;
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .p-menu__row2 .p-menu__special .p-menu__boxShadow {
  border: none;
  background-size: auto auto;
  background-color: rgb(255, 255, 255);
  background-image: repeating-linear-gradient(135deg, transparent, transparent 6px, rgb(219, 233, 242) 6px, rgb(219, 233, 242) 10px);
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .c-btn__content {
  position: absolute;
  bottom: 0;
  right: 0;
}
.l-wrapper .l-main #l-main__menu .p-menu__container .p-menu__content .c-btn__content--md {
  text-align: center;
}
.l-wrapper .l-main #l-main__img {
  width: 100%;
  margin: 10% 0;
}
.l-wrapper .l-main #l-main__img .p-care__container {
  position: relative;
  width: 100%;
  height: 425px; /*画像反映したら修正*/
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__img .p-care__container {
    height: 350px;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__img .p-care__container {
    height: 200px;
  }
}
@media screen and (max-width: 478px) {
  .l-wrapper .l-main #l-main__img .p-care__container {
    height: 130px;
  }
}
.l-wrapper .l-main #l-main__img .p-care__container .p-care__img {
  width: 100%;
  height: 100%;
}
.l-wrapper .l-main #l-main__img .p-care__container .p-care__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 65%;
     object-position: 0 65%;
}
.l-wrapper .l-main #l-main__img .p-care__container .p-care__edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 擬似要素がはみ出さないようにする */
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__img .p-care__container .p-care__edge {
    display: none;
  }
}
.l-wrapper .l-main #l-main__img .p-care__container .p-care__edge .c-triming__top {
  position: absolute;
  top: 0;
  width: 26%;
  margin-top: -13%;
  left: -13%;
}
.l-wrapper .l-main #l-main__img .p-care__container .p-care__edge .c-triming__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 26%;
  margin-bottom: -13%;
  right: -13%;
}
.l-wrapper .l-main #l-main__img .p-care__container .p-care__edge .c-triming__top::before,
.l-wrapper .l-main #l-main__img .p-care__container .p-care__edge .c-triming__bottom::before {
  content: "";
  display: block;
  background-color: #FFFFFF;
  padding-top: 100%;
  transform: rotate(45deg);
  z-index: 3;
}
.l-wrapper .l-main #l-main__salonInfo {
  width: 100%;
  margin-bottom: 9%;
}
.l-wrapper .l-main #l-main__salonInfo .l-main__inner {
  position: relative;
}
.l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container {
  display: flex;
  flex-direction: row-reverse;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container {
    display: block;
  }
}
.l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__detail {
  width: 37.5%;
  margin-top: 7%;
  z-index: 1;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__detail {
    width: 100%;
    margin-top: 12%;
    text-align: center;
  }
}
.l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__detail .p-salonInfo__text {
  margin: 30% 0 10% 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  line-height: 3em;
  white-space: nowrap;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__detail .p-salonInfo__text {
    margin: 25% 0 10% 0;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__detail .p-salonInfo__text {
    margin: 3% 0;
    font-size: 0.7em;
  }
}
@media screen and (max-width: 478px) {
  .l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__detail .p-salonInfo__text {
    font-size: 0.6em;
    line-height: 2.5em;
  }
}
.l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__imgBox {
  position: relative;
  width: 87%;
  height: 34rem;
  margin-left: -5%;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__imgBox {
    height: 24rem;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__imgBox {
    width: 100%;
    height: 180px;
    margin-left: 0;
  }
}
.l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__imgBox .c-slideImage {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: opacity 1s ease;
}
.l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__imgBox .c-slideImage:not(:first-child) {
  opacity: 0; /* 最初の画像以外は透明 */
}
.l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__imgBox .p-salonInfo__edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 擬似要素がはみ出さないようにする */
}
.l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__imgBox .p-salonInfo__edge .c-triming__top {
  position: absolute;
  top: 0;
  width: 26%;
  margin-top: -13%;
  left: -13%;
}
.l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__imgBox .p-salonInfo__edge .c-triming__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 26%;
  margin-bottom: -13%;
  right: -13%;
}
.l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__imgBox .p-salonInfo__edge .c-triming__top::before,
.l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__imgBox .p-salonInfo__edge .c-triming__bottom::before {
  content: "";
  display: block;
  background-color: #FFFFFF;
  padding-top: 100%;
  transform: rotate(45deg);
  z-index: 3;
}
.l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__imgBox .c-salonInfo__stripe {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 18rem;
  height: 18rem;
  aspect-ratio: 1;
  -webkit-clip-path: polygon(100% 100%, 0 0, 100% 0);
          clip-path: polygon(100% 100%, 0 0, 100% 0);
  background: repeating-linear-gradient(180deg, transparent, transparent 13px, rgb(51, 51, 51) 13px, rgb(51, 51, 51) 15px);
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__imgBox .c-salonInfo__stripe {
    width: 14rem;
    height: 14rem;
    background: repeating-linear-gradient(180deg, transparent, transparent 6px, rgb(51, 51, 51) 6px, rgb(51, 51, 51) 7px);
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .p-salonInfo__imgBox .c-salonInfo__stripe {
    width: 5.5rem;
    height: 5.5rem;
    background: repeating-linear-gradient(90deg, transparent, transparent 5px, rgb(51, 51, 51) 5px, rgb(51, 51, 51) 6px);
  }
}
.l-wrapper .l-main #l-main__salonInfo .l-main__inner .p-salonInfo__container .c-btn__content {
  position: absolute;
  bottom: 0;
  right: 0;
}
.l-wrapper .l-main #l-main__salonInfo .l-main__inner .c-btn__content--md {
  text-align: center;
}
.l-wrapper .l-main #l-main__style {
  width: 90vw;
  height: auto;
  margin: 0 auto;
  margin-bottom: 9%;
}
.l-wrapper .l-main .p-style__container {
  display: flex;
  height: 100%;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main .p-style__container {
    display: block;
  }
}
.l-wrapper .l-main .p-style__container .c-style__catalog {
  display: flex;
  margin: 0 auto;
}
.l-wrapper .l-main .p-style__container .c-style__catalog img {
  width: 100%;
  height: auto;
}
.l-wrapper .l-main .p-style__container .c-btn__content {
  margin-top: auto;
  margin-left: -8em;
}
@media screen and (max-width: 1200px) {
  .l-wrapper .l-main .p-style__container .c-btn__content {
    margin-left: -6em;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main .p-style__container .c-btn__content {
    margin-left: -5em;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main .p-style__container .c-btn__content .c-btn {
    width: 5rem;
    height: 5rem;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main .p-style__container .c-btn__content .c-btn p {
    position: absolute;
    right: 0.4rem;
    bottom: 0.4rem;
    font-size: 0.7em;
  }
}
.l-wrapper .l-main .p-style__container .c-btn__content--md {
  display: none;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main .p-style__container .c-btn__content--md {
    display: block;
    width: 98%;
    margin-top: 7%;
    text-align: center;
  }
}
.l-wrapper .l-main #l-main__blogNews {
  width: 85vw;
  margin: 0 auto;
  margin-bottom: 9%;
  padding-top: 3%;
  /*h2タイトル*/
  /*長方形MOREボタン*/
  /*BLOG&NEWSセクション*/
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__blogNews {
    margin-bottom: 12%;
  }
}
.l-wrapper .l-main #l-main__blogNews h2 {
  margin-bottom: 8%;
}
.l-wrapper .l-main #l-main__blogNews h2 span:after {
  content: none;
}
.l-wrapper .l-main #l-main__blogNews .p-button__box {
  text-align: center;
}
.l-wrapper .l-main #l-main__blogNews .p-button__box .c-more__button {
  display: inline-block;
  width: 42%;
  margin-top: 11%;
  padding: 2% 0;
  border: 1px solid #333333;
  background-color: #FFFFFF;
  text-align: center;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__blogNews .p-button__box .c-more__button {
    width: 22vw;
    margin-top: 3vh;
    padding: 1.2% 0;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__blogNews .p-button__box .c-more__button {
    width: 32vw;
    margin-top: 5vh;
    padding: 2% 0;
  }
}
.l-wrapper .l-main #l-main__blogNews .p-button__box .c-more__button .c-reserve__inner {
  margin: 0 30%;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__blogNews .p-button__box .c-more__button .c-reserve__inner {
    margin: 0 28%;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__blogNews .p-button__box .c-more__button .c-reserve__inner {
    margin: 0 25%;
  }
}
.l-wrapper .l-main #l-main__blogNews .p-button__box .c-more__button .c-reserve__inner p {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-align: left;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__blogNews .p-button__box .c-more__button .c-reserve__inner p {
    font-size: 0.85em;
    letter-spacing: 0.15em;
  }
}
.l-wrapper .l-main #l-main__blogNews .p-button__box .c-more__button .c-reserve__inner p::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10%;
  transform: translateY(-50%);
  display: block;
  width: 50%;
  height: 100%;
  background: url("../img/longArrow2.png") no-repeat center center;
  background-size: contain;
}
.l-wrapper .l-main #l-main__blogNews .p-button__box .c-more__button .c-reserve__inner:hover {
  filter: invert(1) brightness(2);
}
.l-wrapper .l-main #l-main__blogNews .p-button__box .c-more__button:hover {
  background-color: #666666;
  border: 1px solid #666666;
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container {
    display: block;
    padding-top: 3%;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container {
    padding-top: 5%;
  }
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog {
  width: 45%;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog {
    width: 100%;
    margin-bottom: 12%;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-title__container h2 {
    margin-bottom: -6%;
    margin-left: -3%;
    z-index: 1;
    text-align: left;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-title__container h2 span::before {
    top: -75%;
    left: 4%;
  }
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-blog__imgBox {
  width: 100%;
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-blog__imgBox .p-blog__container {
  position: relative;
  width: 100%;
  height: 175px; /*画像反映したら修正*/
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-blog__imgBox .p-blog__container {
    height: 280px;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-blog__imgBox .p-blog__container {
    height: 180px;
  }
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-blog__imgBox .p-blog__container .p-blog__img {
  width: 100%;
  height: 100%;
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-blog__imgBox .p-blog__container .p-blog__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-blog__imgBox .p-blog__container .p-blog__edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* 擬似要素がはみ出さないようにする */
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-blog__imgBox .p-blog__container .p-blog__edge .c-triming__top {
  position: absolute;
  top: 0;
  width: 26%;
  margin-top: -13%;
  left: -13%;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-blog__imgBox .p-blog__container .p-blog__edge .c-triming__top {
    margin-top: -17%;
    left: -17%;
  }
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-blog__imgBox .p-blog__container .p-blog__edge .c-triming__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 26%;
  margin-bottom: -13%;
  right: -13%;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-blog__imgBox .p-blog__container .p-blog__edge .c-triming__bottom {
    margin-bottom: -17%;
    right: -17%;
  }
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-blog__imgBox .p-blog__container .p-blog__edge .c-triming__top::before,
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-blog__imgBox .p-blog__container .p-blog__edge .c-triming__bottom::before {
  content: "";
  display: block;
  background-color: #FFFFFF;
  padding-top: 100%;
  transform: rotate(45deg);
  z-index: 3;
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-blog__imgBox .p-blog__content {
  width: 100%;
  margin-top: 2%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-blog__imgBox .p-blog__content {
    font-size: 0.7em;
  }
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__blog .p-blog__imgBox:hover {
  opacity: 0.7;
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__news {
  width: 45%;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__news {
    width: 100%;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__news .p-title__container {
    text-align: center;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__news h2 span:before {
    content: none;
  }
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__news .p-news__container {
  height: 55%;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__news .p-news__container {
    margin-bottom: 5vh;
  }
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__news .p-news__container .p-news__information .p-news__list {
  display: flex;
  width: 100%;
  height: auto;
  padding: 3% 0;
  align-items: center;
  border-bottom: 1px solid rgb(198, 201, 204);
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__news .p-news__container .p-news__information .p-news__list {
    padding: 2% 0;
  }
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__news .p-news__container .p-news__information .p-news__list .c-news__date {
  width: 30%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-align: left;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__news .p-news__container .p-news__information .p-news__list .c-news__date {
    font-size: 0.7em;
  }
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__news .p-news__container .p-news__information .p-news__list .c-news__content {
  width: 70%;
  margin-left: 5%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
  line-height: 1.5em;
  letter-spacing: 0.2em;
  text-align: left;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__news .p-news__container .p-news__information .p-news__list .c-news__content {
    font-size: 0.7em;
  }
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__news .p-news__container .p-news__information .p-news__list:hover {
  background-color: #F9FAFA;
}
.l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__news .p-news__container .p-news__information .p-news__list:first-child {
  padding-top: 3%;
  border-top: 1px solid rgb(198, 201, 204);
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__blogNews .l-blogNews__container .l-main__news .p-news__container .p-news__information .p-news__list:first-child {
    padding-top: 2%;
  }
}
.l-wrapper .l-main #l-main__return {
  margin-bottom: -3%;
}
.l-wrapper .l-main #l-main__return .l-main__arrow--pc {
  width: 5%;
  margin-left: auto;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-main #l-main__return .l-main__arrow--pc {
    display: none;
  }
}
.l-wrapper .l-main #l-main__return .l-main__arrow--pc .c-return__button {
  width: 100%;
}
.l-wrapper .l-main #l-main__return .l-main__arrow--pc .c-return__button img {
  width: 100%;
  transform: rotate(-90deg);
  filter: grayscale(10%);
}
.l-wrapper .l-main #l-main__return .l-main__arrow--sp {
  display: none;
}
@media screen and (max-width: 478px) {
  .l-wrapper .l-main #l-main__return .l-main__arrow--sp {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .l-wrapper .l-main #l-main__return .l-main__arrow--sp .c-scroll__img {
    width: 6%;
    margin: 0 auto;
  }
  .l-wrapper .l-main #l-main__return .l-main__arrow--sp .c-scroll__img img {
    width: 100%;
    transform: rotate(225deg);
  }
  .l-wrapper .l-main #l-main__return .l-main__arrow--sp span {
    position: relative;
    top: -2em;
    font-family: "Open Sans", sans-serif;
    font-size: 8.8px;
  }
}
.l-wrapper .l-footer {
  width: 100%;
  height: 15%;
  padding: 6% 0 3% 0;
  background-color: #DEE4E5;
}
.l-wrapper .l-footer p {
  font-family: "Open Sans", sans-serif;
}
.l-wrapper .l-footer__container {
  width: 80vw;
  margin: 0 auto;
}
.l-wrapper .l-footer .c-footer__title {
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 6%;
  font-weight: 100;
  font-size: 3em;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-footer .c-footer__title {
    display: none;
  }
}
.l-wrapper .l-footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-footer__nav {
    display: none;
  }
}
.l-wrapper .l-footer .p-footer__box {
  width: 33.333%;
}
.l-wrapper .l-footer .p-footer__box h4 {
  margin-bottom: 8%;
  font-family: "Poppins", sans-serif;
  font-size: 0.95em;
  font-weight: 600;
  letter-spacing: 0.12em;
  line-height: 1;
}
@media screen and (max-width: 1200px) {
  .l-wrapper .l-footer .p-footer__box h4 {
    font-size: 0.88em;
  }
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-footer .p-footer__box h4 {
    font-size: 0.8em;
  }
}
.l-wrapper .l-footer .p-footer__box .p-info__contents .p-info__address {
  font-size: 0.88em;
  line-height: 2em;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-footer .p-footer__box .p-info__contents .p-info__address {
    font-size: 0.7em;
  }
}
.l-wrapper .l-footer .p-footer__box .p-info__contents .p-info__address p {
  margin-bottom: 1%;
}
.l-wrapper .l-footer .p-footer__box .p-info__contents .p-info__sns {
  display: flex;
  gap: 10%;
  margin-top: 4%;
  font-size: 110%;
}
.l-wrapper .l-footer .p-footer__box .p-times__contents {
  margin-bottom: 5%;
}
.l-wrapper .l-footer .p-footer__box .p-times__contents .p-times__usually {
  margin-bottom: 5%;
  font-size: 1.3em;
  font-weight: 600;
}
.l-wrapper .l-footer .p-footer__box .p-times__contents .p-times__day {
  margin-bottom: 3%;
  font-size: 0.88em;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-footer .p-footer__box .p-times__contents .p-times__day {
    font-size: 0.7em;
  }
}
.l-wrapper .l-footer .p-footer__box .p-reserve__contents {
  width: 100%;
}
.l-wrapper .l-footer .p-footer__box .p-reserve__contents .p-reserve__button {
  display: inline-block;
  width: 100%;
  margin-bottom: 4%;
  padding: 4% 0;
  border: 1px solid #333333;
  background-color: #DEE4E5;
  font-size: 0.9em;
}
.l-wrapper .l-footer .p-footer__box .p-reserve__contents .p-reserve__button .c-reserve__inner {
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 80%;
  margin: 0 auto;
}
.l-wrapper .l-footer .p-footer__box .p-reserve__contents .p-reserve__button .c-reserve__inner .c-tel__icon .fa-solid fa-phone {
  font-size: 180%;
}
.l-wrapper .l-footer .p-footer__box .p-reserve__contents .p-reserve__button .c-reserve__inner .c-hotpepper__icon {
  width: 8%;
}
.l-wrapper .l-footer .p-footer__box .p-reserve__contents .p-reserve__button .c-reserve__inner .c-hotpepper__icon img {
  width: 100%;
  transition: filter 0.3s;
}
.l-wrapper .l-footer .p-footer__box .p-reserve__contents .p-reserve__button .c-reserve__inner p {
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.13em;
  white-space: nowrap;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-footer .p-footer__box .p-reserve__contents .p-reserve__button .c-reserve__inner p {
    font-size: 0.8em;
  }
}
.l-wrapper .l-footer .p-footer__box .p-reserve__contents .p-reserve__button .c-reserve__inner:hover {
  filter: invert(1) brightness(2);
}
.l-wrapper .l-footer .p-footer__box .p-reserve__contents .p-reserve__button:hover {
  background-color: #666666;
  border: 1px solid #666666;
}
.l-wrapper .l-footer .p-footer__box .p-reserve__contents .p-footer__contact span {
  display: inline-block;
  border-bottom: 1px solid #666666;
  font-size: 0.78em;
  line-height: 2;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-footer .p-footer__box .p-reserve__contents .p-footer__contact span {
    font-size: 8.8px;
  }
}
.l-wrapper .l-footer .p-footer__box .p-reserve__contents .p-footer__contact:hover {
  opacity: 0.5;
}
.l-wrapper .l-footer .p-footer__box .p-reserve__contents p {
  margin-bottom: 5%;
  font-size: 0.88em;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-footer .p-footer__box .p-reserve__contents p {
    font-size: 0.7em;
    line-height: 1.8em;
  }
}
.l-wrapper .l-footer__bottom {
  margin-top: 2%;
  text-align: center;
}
.l-wrapper .l-footer__bottom .c-footer__copyright p {
  font-size: 0.7em;
}
@media screen and (max-width: 978px) {
  .l-wrapper .l-footer__bottom .c-footer__copyright p {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 760px) {
  .l-wrapper .l-footer__bottom .c-footer__copyright p {
    font-size: 8.8px;
  }
}

/*wrapper閉じる*/
/*# sourceMappingURL=style.css.map */